<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="Smart1662DB" value="server=119.59.115.68,1433;database=Smart1662;uid=sa;password=Smart1662;connect timeout=0" />-->
    <add key="Smart1662DB" value="server=192.168.242.148,1433;database=smart1662_uat;uid=dba1662;password=Smart1662@;connect timeout=0" />
    <!--<add key="GISDB" value="Server=localhost;Port=5432;User Id=postgres;Password=Smart1662;Database=PWAGIS;"/>-->
    <!--<add key="GISDB" value="Server=119.59.115.68;Port=5433;User Id=postgres;Password=Smart1662;Database=PWAGIS;" />-->
    <add key="GISDB" value="Server=192.168.242.38;Port=5432;User Id=postgres;Password=admin;Database=pgweb_gis2;" />
    <add key="GISCForSocialDB" value="Server=192.168.246.65;Port=5432;User Id=smart1662social;Password=azsxdc1234;Database=pwagisc;" />
    <add key="IC360" value="server=192.168.242.24;database=IC360;uid=smart1662;password=smart1662;connect timeout=0" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <!-- <add key="JobPath" value="D://ปีงบประมาณ{Year}/{Month}/งานซ่อม/{JobNo}/"/>-->
    <add key="JobPath" value="D:\Work\ประปา\Project\V1\Pwa.Web\Files\Repaire\{Year}\{Month}\{JobNo}\" />
    <add key="IncPath" value="D:\Work\ประปา\Project\V1\Pwa.Web\Files\Incident\{Year}\{Month}\{IncNo}\" />
    <add key="VirtualPath" value="~/Files/Repaire/{Year}/{Month}/{JobNo}/" />
    <add key="VirtualIncPath" value="~/Files/Incident/{Year}/{Month}/{IncNo}/" />
    <!-- Domain pwamail.pwa.co.th / SMTP Port 587 / address smart1662@pwa.co.th-->
    <add key="SMTPServer" value="pwamail.pwa.co.th" />
    <add key="SMTPUserName" value="" />
    <add key="SMTPPasssword" value="" />
    <add key="ToEmail" value="thongon.k@gmail.com" />
    <add key="From" value="smart1662@pwa.co.th" />
    <add key="SMTPPort" value="587" />
    <add key="SmsUrl" value="https://sms-api.pwa.co.th/request" />
    <add key="SmsAuthen" value="SMS:yFcdU3wApo866C6tNruZdyNe37r5" />
    <add key="TestTelephone" value="0835161949" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EncryptKey" value="627BF72BB33AA8D28CA2C3E80920BA4DF0B726F97EEFBB0F4818350D63E6AFA380811F13ED1F086E386284654DB3" />
    <add key="Api_Login_Url" value="https://intranet.pwa.co.th/login/webservice-smart.php" />
    <add key="tokenString" value="SMART 1662" />
    <add key="GeoSearch" value="08a38faa15b0302ae1e415d18db8d78f3e3fabbd409c10e5de1ab15b8aa2f67573ad03bede273520" />
    <!-- UAT <add key="GeoSearch" value="8bdd73000b57e9ec2169b16d3bc93123a82e06d3f6740550160464473692e03be66a754a155f478d" />-->
    <add key="SHOTURL.BASEURL" value="http://localhost:26189" />
    <add key="Callcenter.EmailNotify.To" value="sarawut.st@gmail.com" />
    <add key="UrlTracking" value="https://smart1662.pwa.co.th/tracking" />
  </appSettings>
  <connectionStrings>
    <add name="Smart1662Entities" connectionString="metadata=res://*/Dao.EF.Smart1662.Smart1662Db.csdl|res://*/Dao.EF.Smart1662.Smart1662Db.ssdl|res://*/Dao.EF.Smart1662.Smart1662Db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.242.148;initial catalog=smart1662_uat;user id=dba1662;password=Smart1662@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="smart1662_uatConnectionString" connectionString="Data Source=192.168.242.148;Initial Catalog=smart1662_uat;User ID=dba1662;Password=Smart1662@;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" />
    <httpHandlers>
    <!--<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />-->
    <!--<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />-->
    <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" /></handlers>
    
    <modules runAllManagedModulesForAllRequests="true" />
  <validation validateIntegratedModeConfiguration="false" /></system.webServer>
</configuration>