
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @{
        Html.RenderPartial("Report");
    }
</body>
</html>
